@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-handjet: "Handjet", sans-serif;
}

@layer components {
  .page-body-styling {
    @apply bg-[#f5f589] min-h-screen flex justify-center text-center p-10 md:pb-10 pb-40;
  }
  .home-page-body-styling {
    @apply bg-[#f5f589] min-h-screen flex justify-center text-center items-center;
  }
  .navigation {
    @apply font-handjet font-light text-2xl mt-20 space-x-10;
  }
  .navigation-homepage {
    @apply font-handjet font-light text-3xl mt-20 space-x-10;
  }
  .details-styling {
    @apply rounded border border-black shadow mt-5 hover:bg-[#ffff6b];
  }
  .accordion-summary-header {
    @apply font-handjet font-light text-3xl m-2;
  }
  .accordion-summary-subtext {
    @apply font-montserrat text-sm m-2;
  }
  .accordion-content {
    @apply font-montserrat text-sm m-2;
  }
  .title-homepage {
    @apply font-handjet font-bold text-9xl;
  }
  .page-title {
    @apply font-handjet font-bold text-8xl;
  }
  .header-2 {
    @apply font-handjet font-semibold text-4xl mt-5;
  }
}
